// Grid
$grid-breakpoints: (
    "zero": 0,
    "xs": 360px,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1440px
);

$grid-columns: 12;
$grid-gutter-width: 40px;
$nav-height: 94px;

// Color system
$color-primary: #7B00A0;
$color-primary-1: #A166B3;
$color-primary-2: #620080;
$color-primary-3: #FBE7FD;
$color-primary-4: #F5EEDF;
$color-primary-5: #E8F2F4;
$color-primary-6: #F4F4F4;
$color-white: #ffffff;
$color-black: #000000;
$color-gray-e: #EEEEEE;
$color: (
    "primary": $color-primary,
    "primary-1": $color-primary-1,
    "primary-2": $color-primary-2,
    "primary-3": $color-primary-3,
    "primary-4": $color-primary-4,
    "primary-5": $color-primary-5,
    "white":$color-white,
    "black":$color-black,
    "gray-e":$color-gray-e,
);

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-heavy: 900;

$content-border-radius: 16px;
$border-radius-small: 8px;

// animation
$animation-timing: cubic-bezier(0.165, 0.84, 0.44, 1);
