.common-flex-btn-bx {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &.stamp-list-btn,
    &.coupon-register-btn,
    &.all-download-btn,
    &.pick-up-order-btn,
    &.type-1 {
        width: 100%;
        height: 48px;
        border-radius: var(--border-radius-small);
        background: $color-primary;
        justify-content: center;
    }

    .download-img{
        width: 14px;
        margin-left: 8px;
    }

    .back-btn {
        transform: rotate(-90deg);
    }
}

.common--btn-type {
    font-size: 10px;
    height: 22px;
    @include flex($justify: center);
    border-radius: var(--content-border-radius);

    &.order-btn {
        color: $color-white;
        background: $color-primary;
        width: 73px;
    }

    &.order-btn-2 {
        color: $color-white;
        background: $color-primary;
        width: 57px;
        font-size: 11px;

        &.impossible {
            border: 1px solid $color-gray-e;
            background: $color-white;
            color: #666;
        }
    }
}

[class*=common--btn-type]{
    
}
