// nav
.tab{
    margin-bottom: 30px;
    
    @include media-max(xl){
        margin-bottom: 20px;
    }
}

.nav{
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;    
    background: #fff;
        
    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        background: transparent;
        -webkit-appearance: none;   
    }

    .nav-link{
        display: inline-block;
        position:relative;
        padding: 12px 20px;
        border-radius: 0;
        border: 0;
        font-weight: 500;
        color: $color-secondary;
        font-size: $tab-font-size;
        line-height: $item-line-height-title;
        white-space: nowrap;
        text-decoration: none !important;
        
        &:active, &.active, &.on{
            color:$color-body;
            font-weight: 700;
        }

        @include hover{
            color: $color-body;
        }
    }

    .nav-item{
        margin: 0;
    }
}

.nav-tabs{
    gap: 16px;
    border-bottom: 0;
    
    .nav-link{
        padding: 0 4px 6px;

        &:after{
            content:'';
            position: absolute;
            bottom:0;
            left: 0;
            width: 100%;
            height: 2px;
            background: $color-primary;
            opacity: 0;
            transition: 0.25s;
        }

        &.active, &.on, &:active, &:not(:disabled):not(.disabled):active{
            color:$color-body;
            font-weight: 700;

            &:after{
                opacity: 1;
            }
        }
    }
}

.nav-pills{
    gap: 10px;

    .nav-link{
        padding: 16px 19.5px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 400;
        line-height: $item-line-height-text;
        border: 1px solid $color-gray-3;
        
        &.active, &.on, &:active, &:not(:disabled):not(.disabled):active{
            background-color: $color-primary;
            border-color: $color-primary;
            color: $color-white;
            font-weight: 400;
        }
    }
}

.tab-scroll{
    margin: 0 calc(var(--container-padding)* -1);

    .nav{
        padding: 0 var(--container-padding);
    }
}


.tab-content {
    & > .tab-pane {
        display: none;
        &.fade {
            transition: opacity 0.15s linear;

            &:not(.show) {
                opacity: 0;
            }
        }
    }

    & > .active {
        display: block;
    }

    #tab2 .graph:hover{
        .hover-img{
            opacity: 1;
        }
    }

    #tab3 .graph:hover ~ .hover-img2,
    #tab3 .graph:hover ~ .hover-img3 {
        opacity: 1;
    }
    #tab3 .graph.no-active:hover ~ .hover-img2,
    #tab3 .graph.no-active:hover ~ .hover-img3 {
        opacity: 0;
    }

    #tab3 .graph.no-active:hover ~ .hover-img4 {
        opacity: 1;
    }
}


@include media-max(xl){
    .nav-pills .nav-link{
        padding: 12px 15px;
    }
}