.tooltip{
    &-wrp{
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;

        &.on{
            .tooltip-layer{
                display: block;
            }
        }
    }

    &-container{
        display: inline-block;
        position: relative;
    }

    &-layer{
        display: none;
        position: absolute;
        top: 100%;
        width: 292px;
        left: 0;
        padding: 10px 20px;
        border-radius: 8px;
        background: $color-gray-7;
        box-shadow: 0px 0px rem(20px) rgba(0, 0, 0, .25);
        font-size: 14px;
        color: #fff;
        overflow: hidden;

        &.right{
            right: 0;
            left: auto;
        }

        &.top{
            top: auto;
            bottom: 100%;
        }

        .tit{
            display: block;
            margin-bottom: 10px;
        }
    }
}

.btn-tooltip{
    vertical-align: middle;
}