:root{
    --color-primary: #7B00A0;
    --font-size-20 : 20px;
    --font-size-14 : 14px;
    --content-border-radius: 16px;
    --border-radius-small: 8px;
}
/*header*/
.header {
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
    @include flex($justify: center);
    &-inner{
        overflow-y: auto;
        height: 100%;
		height: calc(100vh - #{$nav-height});
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-thumb {
			background: $color-primary-1;
		}
	
		&::-webkit-scrollbar-track {
			background-color: $color-gray-e;
		}
    }
    &-top {
        @include flex($justify: space-between);
        background: $color-primary;
        height: $nav-height;
    }
}

.sidebar{   
    &-header{
        height: 64px;
        background: $color-primary;
    }
    &-login{
        padding-top: 16px;
        background: $color-white;
    }
    .login-bx{
        background: $color-primary-6;
        border-radius: var(--border-radius-small);
        padding: 24px;
    }
    .sidebar--login{
        margin-top: 16px;
        span{
            @include flex($justify: center);
            width: 70px;
            height: 30px;
            border-radius: 50px;
            border: 1px solid #7B00A0;
        }
    }
    .sidebar_icon_list{
        padding: 24px 0;
        display: flex;
        > li{
            flex: 1;
            @include flex($justify: center);
        }
        a{
            @include flex($justify: center);
            flex-direction: column;
            img{
                width: 40px;
                height: 40px;
                object-fit: scale-down;
            }
            p{
                margin-top: 4px;
            }
        }
    }
    &-menu{
        background: $color-primary-6;
        padding-top: 8px;
    }
    &-menu-list{
        background: $color-white;
        &+.sidebar-menu-list{
            margin-top: 8px;
        }
        a{
            display: block;
            padding: 23px 0;
            border-bottom: 1px solid $color-gray-e;
            margin: 0 16px;
            background-image: url(../images/main/move_btn.svg);
            @include background($position: center right, $size: 6px 10px);
            font-size: 15px;
            font-weight: 500;
            color: #291B35;
        }
    }
}

.container {
    width: 360px;
    padding-left: 16px;
    padding-right: 16px;
}

[data-color="point_1"] {
    color: var(--color-primary);
}

[data-font="font_15"] {
    font-size: var(--font-size-20)
}

[data-font="font_14"] {
    font-size: var(--font-size-14);
}

[data-font="font_14"] {
    font-size: var(--font-size-14);
}

[data-font-weight="medium"] {
    font-weight: $font-weight-medium;
}

.title-1{
    color: rgba($color-black, 0.4);
    line-height: 1.2;
}
