/* header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 245;
    @include flex($justify: center);
    transition: all .3s $animation-timing;

    &.active {
        .header-top {
            background: $color-white;

            .sidebar--open,
            .sidebar--alert,
            .sidebar--qr {
                color: $color-primary;
            }
        }
    }

    &-inner {
        width: 100%;
    }

    &-top {
        @include flex($align: flex-start, $justify: space-between);
        background: $color-primary;
        height: $nav-height;
        padding-top: 20px;

        .flex-bx {
            @include flex();
            gap: 16px;
        }
    }

    &.scrolled {
        z-index: 100;
    }

    .sidebar--open,
    .sidebar--alert,
    .sidebar--qr {
        color: $color-white;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    opacity: 0;
    max-width: 360px;
    transform: translateX(-100%);
    transition: all .5s $animation-timing;

    &.active {
        left: 50%;
        opacity: 1;
        transform: translateX(-50%);
    }

    &-header {
        height: 64px;
        background: $color-primary;

        .container {
            height: 100%;
            @include flex($justify: space-between);
        }
    }

    &-body {
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 40px;
        height: calc(100vh - #{$nav-height});
        background: $color-white;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background: $color-primary-1;
        }

        &::-webkit-scrollbar-track {
            background-color: $color-gray-e;
        }
    }

    &-login {
        padding-top: var(--common-gap);
        background: $color-white;
    }

    .login-bx {
        background: $color-primary-6;
        border-radius: var(--border-radius-small);
        padding: var(--content-padding);
    }

    .btn-bx{
        display: flex;
        gap: 8px;
    }

    .sidebar--login {
        margin-top: 16px;

        span {
            @include flex($justify: center);
            padding: 0 16px;
            height: 30px;
            border-radius: 50px;
            border: 1px solid #7B00A0;
        }
    }

    .sidebar_icon_list {
        padding: 24px 0;
        display: flex;

        >li {
            flex: 1;
            @include flex($justify: center);
        }

        a {
            @include flex($justify: center, $direction: column);
            text-align: center;

            img {
                width: 40px;
                height: 40px;
                object-fit: scale-down;
            }

            p {
                margin-top: 4px;
                line-height: 1;
            }
        }
    }

    &-menu {
        background: $color-primary-6;
        padding-top: 8px;
    }

    &-menu-list {
        background: $color-white;

        &+.sidebar-menu-list {
            margin-top: 8px;
        }

        a {
            display: block;
            padding: 23px 0;
            border-bottom: 1px solid $color-gray-e;
            margin: 0 16px;
            background-image: url(../images/main/move_btn.svg);
            @include background($position: center right, $size: 6px 10px);
            font-size: 15px;
            font-weight: 500;
            color: #291B35;
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        gap: var(--common-gap);
        padding: 16px 16px 36px;
        background: $color-white;

        a {
            @include flex($justify: center);
        }

        img {
            width: 36px;
            height: 36px;
            object-fit: scale-down;
        }
    }
}

/* footer */
.footer {
    @include flex($justify: center);
    position: relative;
    background: $color-white;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1px);
    z-index: 100;

    &::before {
        content: "";
        width: 60px;
        height: 4px;
        border-radius: 50px;
        background: rgba($color-white, 0.6);
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    &-inner {
        background: $color-primary;
        border-radius: var(--border-radius-small);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        max-height: 155px;

        &.active {
            height: calc(100vh - 64px);
            max-height: 100%;

            .footer-login-off {
                .top-bx {
                    p {
                        opacity: 0;
                    }
                }
            }

            .updown-btn {
                transform: rotate(180deg);
            }

            .bottom-bx {
                display: flex;
                height: calc(100vh - 100px);
            }
        }
    }

    &-login-on,
    &-login-off {
        .top-bx {
            @include flex($justify: space-between);

            p {
                opacity: 1;
            }
        }

        .updown-btn {
            @include flex($justify: center);
            transition: all .3s $animation-timing;
            width: 24px;
            height: 24px;
        }

        span {
            margin: 0 4px;
            display: inline-block;
        }
    }

    &-login-off {
        .bottom-bx {
            display: none;
            transition: all .3s $animation-timing;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: fit-content;

            .membership-login-btn {
                width: 100%;
                height: 60px;
                border-radius: var(--border-radius-small);
                @include flex($justify: center);
                background: $color-white;
                color: $color-primary;
                border-radius: var(--border-radius-small);
                border: 1px solid #7B00A0;
                font-weight: bold;
            }
        }
    }

    .container {
        padding: 28px 16px 32px;
    }

    &-icon-list {
        margin-top: var(--common-gap);

        .footer-icon-item {
            display: flex;

            li {
                flex: 1;
                @include flex($justify: center);

                &.active {
                    button {
                        background: $color-primary-2;
                    }
                }
            }

            button {
                @include flex($justify: center, $direction: column);
                text-align: center;
                font-size: 10px;
                color: $color-white;
                padding: 9px 12px;
                border-radius: var(--border-radius-small);
                width: 100%;

                img {
                    width: 24px;
                    height: 24px;
                    object-fit: scale-down;
                }

                p {
                    margin-top: 4px;
                }
            }
        }
    }

    &-icon-content-list {
        margin-top: var(--common-gap);
        .scroll-bx{
            overflow-y: auto;
            max-height: 75vh;

            &::-webkit-scrollbar {
                width: 2px;
            }

            &::-webkit-scrollbar-thumb {
                background: transparent;
            }
        }

        .content-bx {
            background: $color-white;
            border-radius: var(--content-border-radius);
            padding: var(--content-padding);
        }

        .reload-info-bx {
            padding: 13.5px 16px;
            border-radius: var(--border-radius-small);
            background: $color-primary-6;
        }

        .stamp-item {
            margin-top: var(--common-gap);
            display: flex;
            flex-wrap: wrap;
            padding: 16px 14px;
            background: $color-primary-6;
            border-radius: var(--border-radius-small);
            gap: var(--common-gap) var(--common-gap-small);
        }

        .stamp-info-list {
            border-top: 1px solid $color-gray-e;
        }

        .stamp-info-item {
            li {
                font-size: var(--font-size-14);
                color: $color-primary-2;
                position: relative;
                padding-left: 8px;

                &::before {
                    content: "";
                    width: 5px;
                    height: 1px;
                    background: $color-black;
                    position: absolute;
                    top: 8px;
                    left: 0;
                }
            }

            li+li {
                margin-top: var(--common-gap-small);
            }
        }
    }
}

/* 쿠폰 탭 */
.coupon-tab{
    &-header{
        @include flex($justify: space-between);
        margin: 16px 0;
        border-bottom: 1px solid #E9E8E8;
        li{
            padding: 16px;
            font-size: 15px;
            color: rgba($color-black, 0.6);
            position: relative;
            &.active{
                &::after{
                    opacity: 1;
                }
            }
            &::after{
                content: "";
                width: 100%;
                height: 2px;
                background: $color-primary;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 1;
                opacity: 0;
                transition: all .3s $animation-timing;
            }
        }
    }
    &-body{
        margin-bottom: 28px;
    }
    &-content{
        padding: 19px 16px;
        border: 1px solid #F4F4F4;
        border-radius: var(--border-radius-small);
        background: $color-primary-6;
        &+.coupon-tab-content{
            margin-top: 16px;
        }
    }
    &-info{
        @include flex($align: end, $justify: space-between);
        .info{
            font-size: 14px;
        }
        .d-day{
            padding: 4px 8px;
            @include flex($justify: center);
            border-radius: var(--content-border-radius);
            background: #E9E8E8;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

/* 선택권한 */
.intro-area {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    @include flex($justify: center);
    background: #fff;
    overflow-y: auto;
    padding: 24px 0;

    .logo-bx {
        @include flex($justify: center);
    }

    .intro-dec {
        margin: 40px 0 32px 0;
        line-height: 1.5;
    }

    .intro-select-item {
        li {
            margin-top: 16px;
            @include flex();
            gap: 8px;
        }

        .color-60 {
            margin-top: 6px;
        }

        .icon-bx {
            img {
                aspect-ratio: 1/1;
            }
        }
    }

    .info-txt-bx {
        @include flex($justify: center);
        border-radius: var(--border-radius-small);
        padding: 16px;
        background: $color-primary-6;
        margin: 28px 0 34px 0;
    }

    .intro-next-btn {
        width: 100%;
        height: 60px;
        border-radius: var(--border-radius-small);
        @include flex($justify: center);
        background: $color-primary;
        color: $color-white;
        font-weight: bold;
    }
}