.main-body {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-primary-1;
    }

    &::-webkit-scrollbar-track {
        background-color: $color-gray-e;
    }

    &.active {
        z-index: 1;
    }
}

.main {
    background: $color-primary-8;
    padding-top: $nav-height;
    overflow: hidden;
}

.main-visual {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;

    &.active {
        z-index: 1;
    }

    .main-inner {
        padding: 20px 16px;
        background: $color-white;
        border-radius: $content-border-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: $color-primary;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    .image-bx {
        aspect-ratio: 328/400;
        box-shadow: var(--drop-shadow);
        border-radius: var(--content-border-radius);

        img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }

    .swiper-wrapper {
        height: auto;
    }

    .swiper-control-bx {
        position: absolute;
        right: 40px;
        bottom: 40px;
        z-index: 1;
        text-align: right;
        width: auto;
        padding: 0 8px;
        height: 22px;
        background: rgba(#4B4B4B, 0.8);
        border-radius: var(--content-border-radius);
        @include flex($justify: center);
    }

    .swiper-pagination {
        position: unset;
        @include flex($justify: center);
        gap: 2px;

        span {
            font-size: 12px;
            color: rgba($color-white, 0.5);
            font-weight: 500;

            &.swiper-pagination-current {
                color: $color-white;
            }
        }
    }
}

.main-section {
    &-1 {
        .main_icon_list {
            display: flex;
            border: 1px solid $color-gray-e;
            border-radius: var(--content-border-radius);
            box-shadow: var(--drop-shadow);
            padding: 25px 28.5px;

            li {
                flex: 1;
            }

            a {
                @include flex($justify: center, $direction: column);
                text-align: center;
            }

            p {
                margin-top: 8px;
                line-height: 1;
            }

            img {
                width: 40px;
                height: 40px;
                object-fit: scale-down;
            }
        }
    }

    &-2 {
        margin: 40px 0;

        .coupon-list {
            margin-top: var(--common-gap);
            padding: 24px;
            border: 1px solid $color-gray-e;
            border-radius: var(--content-border-radius);
        }

        .coupon-img {
            @include flex($justify: center);
            aspect-ratio: 280/117;
            margin: 24px 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }

        .download-bx {
            @include flex($justify: center);
            gap: 8px;
            background: rgba(#7B00A0, 0.16);
            height: 48px;
            border-radius: var(--border-radius-small);
            width: 100%;
            cursor: pointer;
        }

        /*로그인후 쿠폰*/
        .main-coupon-list {
            margin-top: var(--common-gap);

            .flex-bx {
                display: flex;

                >div {
                    height: 121px;
                    border-radius: var(--content-border-radius);
                    box-shadow: var(--drop-shadow);
                }
            }

            .left-bx {
                flex: 0 0 67%;
                @include flex($align: flex-start, $justify: center, $direction: column);
                gap: 10px;
                padding-left: 20px;
            }

            .right-bx {
                flex: 0 0 33%;
                position: relative;

                &::after {
                    content: "";
                    background-image: url(../images/main/coupon-line.png);
                    width: 2px;
                    height: 79px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }

                .coupon-down-btn {
                    background: $color-primary;
                    @include flex($justify: center, $direction: column);
                    gap: 8px;
                    width: 100%;
                    height: 100%;
                    border-radius: var(--content-border-radius);
                }
            }
        }
    }

    &-3 {
        padding-bottom: 40px;

        .event-list {
            li+li {
                margin-top: 40px;
            }

            a {
                @include flex($justify: space-between);
                padding: 29.5px 17px 29.5px 24px;
                border-radius: var(--content-border-radius);
                box-shadow: var(--drop-shadow);
                margin-top: var(--common-gap);

                &.box-1 {
                    background: $color-primary-5;
                }

                &.box-2 {
                    background: $color-primary-3;
                }

                &.box-3 {
                    background: $color-primary-4;
                }
            }

            .icon-bx {
                width: 60px;
                height: 60px;
                @include flex($justify: center);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                }
            }
        }
    }

    &-4 {
        .container {
            box-shadow: var(--drop-shadow);
            padding: 24px 16px;
            position: relative;
            overflow: hidden;
        }

        .top-bx {
            @include flex($justify: space-between);
        }

        .bottom-bx {
            display: flex;
            gap: var(--common-gap-small);
            margin-top: 16px;
        }

        .fix-bx {
            p {
                color: rgba($color-black, 0.6);
                text-align: center;
            }
        }

        .more_btn {
            @include flex($justify: center, $direction: column);
            width: 96px;
            height: 96px;
            background: $color-primary-7;
            border-radius: 50%;
        }

        .swiper-container {
            width: calc(100% - 96px);
            overflow: hidden;
        }

        .swiper-wrapper {
            height: auto;
        }

        .swiper-slide {
            .img-bx {
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                aspect-ratio: 100/100;
                @include flex($justify: center);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: $color-primary-6;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                }
            }

            p {
                color: #333;
                text-align: center;
            }
        }
    }

    &-5 {
        padding-bottom: 155px;

        .container {
            box-shadow: var(--drop-shadow);
            padding: 24px 16px;
            margin-top: 24px;
            position: relative;
            overflow: hidden;
        }

        .top-bx {
            @include flex($justify: space-between);
        }

        .main-item-box {
            margin-top: var(--common-gap);
            border: 1px solid $color-gray-e;
            border-radius: var(--content-border-radius);
        }

        .item-box-top {
            padding: 24px 16px 16px;
            position: relative;
            @include flex($align: flex-start, $justify: space-between);
        }

        .item-box-bottom {
            padding: 16px;
            border-top: 1px solid $color-gray-e;
            @include flex($justify: space-between);
        }

        .swiper-wrapper {
            height: auto;
        }

        .beverage-bx {
            aspect-ratio: 26/46;
            @include flex($justify: center);

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }
        }

        .txt-bx {
            min-width: 160px;
        }
    }
}