@charset "UTF-8";

// SUIT 폰트
@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 100;
	src: local('SUIT'), url('../fonts/SUIT-Thin.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 300;
	src: local('SUIT'), url('../fonts/SUIT-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 400;
	src: local('SUIT'), url('../fonts/SUIT-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 500;
	src: local('SUIT'), url('../fonts/SUIT-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 600;
	src: local('SUIT'), url('../fonts/SUIT-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 700;
	src: local('SUIT'), url('../fonts/SUIT-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 800;
	src: local('SUIT'), url('../fonts/SUIT-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-style: normal;
	font-weight: 900;
	src: local('SUIT'), url('../fonts/SUIT-Heavy.woff2') format('woff2');
}

:root{
    --container-padding: 30px;
    --header-height: 80px;
}

// reset
html{
    -webkit-text-size-adjust: 100%;
    font-size: $base-rem;
    
    @include media-max(xl){
        font-size: $base-mobile-rem;
    }
}
body, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, fosrm, fieldset, legend, input, textarea, button, select, label{margin: 0;padding: 0}
body{
    line-height: $line-height-base;
    word-wrap: break-word;
    font-family: $font-family-base;
    font-weight: 500;
    color: $color-body;
}
a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit
}
button, button:hover, button:focus, button:active, select{
    color: inherit;
}
li{
    list-style: none
}
address, em{
    font-style: normal
}
label, [role="button"]{
    cursor: pointer
}
table{
    width: 100%
}
textarea{
    resize: none
}
strong, b{
    font-weight: $font-weight-bold
}
img{
    vertical-align: top;
    max-width: 100%
}
small, .sm{
    font-size: 75%
}
button{
    background: none;
    border: 0;
    outline:0 !important;
    line-height: 1;
}
figure{
    margin-bottom: 0
}
a, button, input, textarea{
    transition: border-color .25s $animation-timing,
                background .25s $animation-timing,
                color .15s $animation-timing,
                outline .25s $animation-timing,
                opacity .25s $animation-timing,
                transform .25s $animation-timing;
}

input{
    &::-webkit-inner-spin-button {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
}

// Grid
.container{ 
    max-width: 1500px;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}
.row{
    --gutters-margin: -10px;
    margin-left: var(--gutters-margin);
    margin-right: var(--gutters-margin);
}
.row>[class*=col], .row>div{
    padding-left: calc(var(--gutters-margin) * -1);
    padding-right: calc(var(--gutters-margin) * -1)
}
.no-gutters{
    --gutters-margin: 0
}

// Typography
h1, .h1, h2, .h2{
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    margin-bottom:0;
}

h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: $font-weight-extrabold;
    margin-bottom:0;
    line-height: $headings-line-height;
}

.h1, .fs48{
    font-size: 48px !important;
}
.h2, .fs36{
    font-size: 36px !important;
}
.h3, .fs24{
    font-size: 24px !important;
}
.h4, .fs20{
    font-size: 20px !important;
}
.h5, .fs18{
    font-size: 18px !important;
}
.h6, .fs16{
    font-size: 16px !important;
}
.h7, .fs14{
    font-size: 14px !important;
}
.font-weight-light{
    font-weight: 300 !important;
}
.font-weight-normal{
    font-weight: 400 !important;
}
.font-weight-medium{
    font-weight: 500 !important;
}
.font-weight-semibold{
    font-weight: 600 !important;
}
.font-weight-bold{
    font-weight: 700 !important;
}
.font-weight-extrabold{
    font-weight: 800 !important;
}
.font-weight-Heavy{
    font-weight: 900 !important;
}

// Utilities
.font-obj{
    @include font-en;
}
.text-clamp{
    @include text-clamp;
}
.flex-center{
    @include flex;
}
.flex-center-between{
    @include flex($justify: space-between);
}
.overflow-visible{
    overflow: visible !important;
}
.mx-none{
    max-width: none !important;
}
.border{
    border: 1px solid $color-gray-3 !important;
}
.border-top{
    border-top: 1px solid $color-gray-3 !important;
}
.border-right{
    border-right: 1px solid $color-gray-3 !important;
}
.border-bottom{
    border-bottom: 1px solid $color-gray-3 !important;
}
.border-left{
    border-left: 1px solid $color-gray-3 !important;
}
.border-body{
    border-color: $color-body !important;
}


// Theme
.text-primary{color: $color-primary !important}
.text-primary-dark{color: $color-primary-dark !important}
.text-primary-light1{color: $color-primary-light1 !important}
.text-primary-light2{color: $color-primary-light2 !important}
.text-ylw{color: $color-ylw !important}
.text-dark-pink{color: $color-dark-pink !important}
.text-org{color: $color-org !important}
.text-dark-org{color: $color-dark-org !important}
.text-mint{color: $color-mint !important}
.text-grn{color: $color-grn !important}
.text-purple{color: $color-purple !important}
.text-dark-purple{color: $color-dark-purple !important}
.text-white{color: $color-white !important}
.text-black{color: $color-black !important}
.text-body{color: $color-body !important}
.text-dim{color: $color-dim !important}
.text-gray{color: $color-gray !important}
.text-gray-1{color: $color-gray-1 !important}
.text-gray-2{color: $color-gray-2 !important}
.text-gray-3{color: $color-gray-3 !important}
.text-gray-4{color: $color-gray-4 !important}
.text-gray-5{color: $color-gray-5 !important}
.text-gray-6{color: $color-gray-6 !important}
.text-gray-7{color: $color-gray-7 !important}
.text-success{color: $color-success !important}
.text-danger{color: $color-danger !important}
.text-warning{color: $color-warning !important}
.text-secondary{color: $color-secondary !important}
.text-muted{color: $color-muted !important}
.text-light{color: $color-light !important}
.text-red{color: $color-red !important}

// Responsive
@include media-min(xl){
    .row-xl{
        --gutters-margin: -20px;
    }
}

@include media-max(xl){
    [class*=d-xl]:not(.d-xl-none){display: none}
    
    :root{
        --container-padding: 20px;
        --header-height: 60px;
    }
}

@include media-max(lg){
    [class*=d-lg]:not(.d-lg-none){display: none}
}

@include media-max(md){
    [class*=d-md]:not(.d-md-none){display: none}
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: $color-gray-5;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: $color-gray-3;
    border: 0;
    border-radius: 10px;
}

/* print setting */
@media print {
    * {
        margin-top: 0;
        margin-bottom: 0; 
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    #wrap {
      display: block !important;
    }

    #hd{
        position: absolute !important;
    }

    .container{
        overflow: visible !important;
    }
}
