
#wrap{
    padding-top: var(--header-height);
}

#hd{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    gap: 20px;
    position: fixed;    
    top: 0;
    z-index: 30;
    width: 100%;
    height: var(--header-height);
    padding: 0 var(--container-padding);
    border-bottom: 1px solid $color-gray-3;
    background-color: $color-white;

    .hd-tit{
        font-size: 18px;
        font-weight: 500;

        &.text-truncate{
            padding-right: 45px;
            @include text-clamp();
            font-weight: 700;
        }
    }

    .util-area{
        gap: 10px;
    }

    .inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        max-width: 1440px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .user{
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .thumb{
        display: inline-block;
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: url(../images/common/profile.svg) no-repeat center / cover;
        overflow: hidden;
        
        &:before{
            content:'';
            display: block;
            padding-top: 100%;
        }
    
        img{
            position: absolute;
            top: 9;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @for $i from 1 through 10 {
            &.ico#{$i} {
                background-image: url(../images/common/icon_ppl0#{$i}.svg)
            }
        }
    }

    .message{
        font-size: 12px;
    }
}

#nav{
    height: 100%;

    .gnb{
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 1rem;
        font-weight: 500;

        li{
            height: 100%;

            &:first-child a{
                padding-left: 0;
            }

            &:last-child a{
                padding-right: 0;
            }
        }
    
        a{    
            display: block;
            height: 100%;
            padding: 0 40px;

            span{
                display: flex;
                align-items: center;
                position: relative;
                height: 100%;

                &:after{
                    content:'';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    background-color: $color-primary;
                    transform-origin: 100% 50%;
                    transform: scale3d(0, 1, 1);
                    transition: transform 0.3s;
                }
            }
            
            &.on,
            &:hover {
                span:after {
                    transform-origin: 0% 50%;
                    transform: scale3d(1, 1, 1);
                }
            }
        }
    }
}

@keyframes navOpen {
    to {
        transform: translateX(0);
    }
}

.full-wrp{ 
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;    
    overflow: hidden;

    .container{
        padding-top: 56px;
    }
}

.option-wrp{
    display: inline-flex;

    & > button{
        display: flex;
        align-items: center;
    }

    .dot{
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        border-radius: 4px;
        background-color: $color-gray-3;
    }
}

.color-1{    
    background-color: $color-dark-pink !important;
}

.color-2{    
    background-color: $color-ylw !important;
}

.color-3{    
    background-color: $color-grn !important;
}

.color-4{    
    background-color: $color-skyblue !important;
}

.color-5{    
    background-color: $color-mint !important;
}

.color-6{    
    background-color: $color-dark-purple !important;
}

.list-ppl{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 12px;
    text-align: center;

    li{
        display: inline-block;
        position: relative;
        padding-bottom: 40px;
    }

    .ico{
        display: inline-block;
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: url(../images/common/profile.svg) no-repeat center / cover;
        overflow: hidden;
        
        &:before{
            content:'';
            display: block;
            padding-top: 100%;
        }
    
        img{
            position: absolute;
            top: 9;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @for $i from 1 through 10 {
            &.ico#{$i} {
                background-image: url(../images/common/icon_ppl0#{$i}.svg)
            }
        }
    }

    .name{
        position: absolute;
        margin-top: 4px;
        left: 50%;
        font-weight: 500;
        white-space: nowrap;
        transform: translateX(-50%);
    }
}

.profile{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url(../images/common/profile.svg) no-repeat center / cover;
    overflow: hidden;
    
    &:before{
        content:'';
        display: block;
        padding-top: 100%;
    }

    img{
        position: absolute;
        top: 9;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.list{  
    margin-top: 30px;

    .item{
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
       
        &.active .btn-delete{
            width: 65px;
        }

        &:not(:first-child){
            margin-top: 12px;
        }
    }

    .link{
        display: block;
        flex: 0 0 100%;
        position: relative;
        padding: 20px 30px;
        border-radius: $border-radius-base;
        background-color: $color-white;
        transition: .25s;
    }
    
    .btn-bookmark{
        position: absolute;
        top: 18px;    
        right: 30px;
    }

    .btn-delete{
        display: block;
        flex: 0 0 auto;
        width: 0;
        transition: 0.25s;
        background-color: $color-danger;
    }

    .tit{
        @include text-clamp();
        padding-right: 50px;
        font-size: 18px;
        font-weight: 500;
        line-height: $item-line-height-title;
        
        @include media-max(xl){
            font-size: 17px;
        }

    }

    .txt{
        margin-top: 10px;
        color: $color-gray;
        @include text-clamp();
        line-height: $item-line-height-text;
    }

    .info{
        display: flex;
        flex-wrap: wrap;
        margin-top:10px;
        gap: 12px;
        font-size: 12px;
        font-weight: 500;
        color:$color-secondary;
        line-height: $item-line-height-text;
    }

    &-icon{
        .link{
            padding: 20px 70px 20px 30px;

            &:after{
                content: "";
                position: absolute;
                top: 50%;
                right: 30px;
                width: 9px;
                height: 14px;
                background:url(../images/icon/icon_list_arr.svg) no-repeat center / 100% auto;
                transform: translateY(-50%);
                transition: .25s;
            }
        }
    }

    &-num{
        .link{
            padding-left: 89px;
            
            &:after{
                background-image: url(../images/icon/icon_list_arr_off.svg);
            }

            .num {
                position: absolute;
                top: 20px;
                left: 30px;
            }

            &:hover, &:active{
                background-color: $color-gray-1; 
                
                &:after{
                    background-image: url(../images/icon/icon_list_arr.svg);
                }
            }
            
            @include media-max(xl){
                padding-left: 70px;

                .num{
                    top: 18px;
                    left: 25px;
                }
            }
        }
    }

    &-mail{
        .item{
            &:hover, &:active{
                border-radius: $border-radius-base;
                background-color: $color-gray-1;
            }
        }

        .txt{
            margin-top: 20px;
        }

        .chk-bx{
            padding: 18px 0 0 30px;
        }

        .link{
            flex: 1;
            padding-left: 10px;
            background-color: transparent;
        }
    }
}

.card{
    margin: 0;
    padding: 20px 30px;
    border: 0;
    border-radius: $border-radius-base !important;
    background-color: $color-white;

    &:not(:first-child){
        margin-top: 12px;
    }

    &-wrp{
        &.v2{
            .card{
                position: relative;
                margin-left: 10px;
                padding: 10px 20px;
                border-radius: $border-radius-small !important; 
        
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -10px;
                    width: 10px;
                    height: 100%;
                    background-color: $color-purple;
                    border-radius: $border-radius-base 0 0 $border-radius-base;
                }
        
                &:not(:last-child){
                    margin-bottom: 12px;
                }
        
                .tit{
                    font-weight: 700;
                    
                    .name{
                        margin-right: 4px;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &-header{
        margin-bottom: 12px;
        padding: 0;
        border-radius: 0 !important;
        border: 0;
        background: transparent;
        font-size: 18px;
        font-weight: 700;

        .cate{
            display: flex;
            align-items: center;
            position: relative;
            gap: 13px;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px; 
    
            &:after{
                content:'';
                display: inline-block;
                flex: 1;
                height: 1px;
                background: $color-gray-4;
                vertical-align: middle;
            }
        }
    }


    .sub{
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 600;
        color: $color-body;
        line-height: $item-line-height-text;
    }
   
    .tit{
        @include text-clamp();
        padding-right: 50px;
        font-size: 16px;
        font-weight: 500;
        line-height: $item-line-height-title;
    }   

    .txt{
        margin-top: 12px;
        font-size: 14px;
        font-weight: 600;
        color: $color-secondary;
        line-height: $item-line-height-text;
    }

    .tag{
        margin-bottom:5px; 

        & > * {
            display: inline-block;

            &:not(:last-child){
                margin-right: 8px;
            }
        }

        &.tag-pills{
            margin-bottom: 15px; 
            & > span{
                margin-bottom: 5px;
                border-radius: 2em;
                background-color: $color-gray-2;
                padding: 6px;
                font-weight: 600;
                font-size: 10px;
            }
        }
    }

    .name{
        font-size: 14px;
        font-weight: 700;
    }
    
    .info{
        margin-top: 8px;
        color: $color-secondary;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;    

        &>span{
            position: relative;

            &:not(:last-child):after{
                content:'';
                display: inline-block;
                vertical-align: top;
                width: 1px;
                height: 12px;
                margin: 2px 10px;
                background-color: $color-secondary;
                transform: translateX(1px);
            }
        }

        &.v2{
            color: $color-gray;
            font-size: 12px;

            &>span{
                display: block;
                padding-left: 26px;

                &:not(:first-child){
                    margin-top: 10px;
                }

                &:before{
                    content:'';
                    position: absolute;
                    top:0;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: auto;
                }

                &.num:before{
                    background-image: url(../images/icon/icon_phone.svg);
                }

                &.addr:before{
                    background-image: url(../images/icon/icon_location.svg);
                }

                &:after{
                    display: none !important;
                }
            }
        }
    }

    & > button {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    &-group{
        flex-direction: column;

        .card{
            margin: 0;
        }
        
        &:not(:last-child){
            margin-bottom: 24px;
        }
    }
}

.util-area{
    display: flex;
    align-items: center;
    gap: 8px;
}

.paging-area{
    margin-top: rem(40px);

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a{
        display: inline-block;
        vertical-align: top;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: $border-radius-small;
        background-color: transparent;
        background-size: 20px auto;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 14px;
        font-weight: 400;
        color: $color-secondary;
        text-align: center;

        &.prev{
            margin-right: 30px;
            background-image: url(../images/icon/icon_paging_prev.svg)
        }

        &.next{
            margin-left: 30px;
            background-image: url(../images/icon/icon_paging_next.svg)
        }

        &.active{
            pointer-events: none;
            background-color: $color-gray-3;
            color: $color-body;
        }
    }
    
    @include media-max(xl){
        a{
            width: 32px;
            height: 32px;
            line-height: 32px;

            &.prev{
                margin-right: 20px;
            }
    
            &.next{
                margin-left: 20px;
            }
    
        }
    }
}

.popup{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    padding-top: $popup-header-height;
    background: #fff;
    transform: translateY(100%);
    transition: .35s;

    .popup-body {
        max-height: calc(100% - $popup-header-height);
    }

    &.open{
        transform: translateY(0%);
    }
}

body{
    &.popup-schedule-open{
        overflow: visible;
    }
}

.popup-schedule {
    position: absolute;
    z-index: 10;
    padding-right: var(--container-padding);
    padding-bottom: 40px;
    padding-left: 20px;
}

.theme-primary{
    background: #0369DE;
    color: #FFFFFF;

    &:before{
        background: #0369DE;
    }

    .badge{
        background-color: $color-primary-light1;
    }

    .btn{
        background-color: $color-primary-dark;
        color: $color-white;
    }

    .nav-pills .nav-link{
        &.active, &.on, &:active{
            color: $color-primary !important;
        }
    }
}

.theme-org{
    background: #FF6F07;
    color: #FFFFFF;

    &:before{
        background: #FF6F07;
    }

    .badge{
        background-color: $color-dark-org;
    }

    .btn{
        background-color: $color-dark-org;
        color: $color-white;
    }

    .nav-pills .nav-link{
        &.active, &.on, &:active{
            color: $color-dark-org !important;
        }
    }
}

.theme-purple{
    background: #BF65D3;
    color: #FFFFFF;

    &:before{
        background: #BF65D3;
    }

    .badge{
        background-color: $color-dark-purple;
    }

    .btn{
        background-color: $color-dark-purple;
        color: $color-white;
    }

    .nav-pills .nav-link{
        &.active, &.on, &:active{
            color: $color-dark-purple !important;
        }
    }
}