.contents{
    display: flex; 
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    gap: 10px;

    @include media-max(xl){
        gap: 0;
    }
}

.main-container{
    flex-basis: calc(100% - 406px);
    max-width: calc(100% - 406px);
    padding: 30px var(--container-padding) 40px;

    @include media-max(xl){
        flex-basis: calc(100% - 350px);
        max-width: calc(100% - 350px);
    }
}

.aside{
    display: flex;
    flex-direction: column;
    flex: 0 0 396px; 
    position: sticky;
    top: var(--header-height);
    height: calc( 100vh - var(--header-height));
    border-left: 1px solid $color-gray-3;
    overflow: hidden;

    .btn-area{
        margin-top: 30px !important;
    }

    .form-tit-wrp{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        padding-bottom: 9px;
        border-bottom: 1px solid $color-gray-3;
    
        .tit{
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
        }
    }
    
    .dim{
        display: none;
    }

    &-header{
        flex: 0 0 auto;
        position: relative;
        z-index: 20;
        padding: 30px var(--container-padding) 0 20px;

        .tit{
            height: 60px;
            font-size: 24px;
        }
    }

    &-body{
        position: relative;
        height: calc(100% - 90px);
        padding: 0 var(--container-padding) 40px 20px;
    }

    .inner{
        height: calc(100% - 86px);
    }

    .scrollable{
        overflow-y: auto;
        margin-right: calc( var(--container-padding) * -1 / 2 );
        padding-right: calc( var(--container-padding) / 2 ) ;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
    }

    form{
        height: 100%;
    }
    
    @include media-max(xl){
        flex: 0 0 350px;

        &-header{
            padding-top: 20px;

            .tit{
                height: 50px;
                font-size: 21px;
            }
        }

        &-body{
            height: calc(100% - 70px);
            padding-bottom: 20px;
        }
    }
}

.sub-title{
    .tit{
        font-size: 36px;
        font-weight: 300;
    }

    .txt{
        margin-top: 10px;
        font-size: 18px;
        font-weight: 500;
        color: $color-secondary;

    }

    & + .sub-container {
        padding-top: 45px;
    }

    &.d-flex{
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }
    
    @include media-max(xl){
        .tit{
            font-size: 24px;
        }

        .txt{
            margin-top: 8px;
            font-size: 16px;
        }
    }
}

.sub-container{
    overflow-y: auto;
    position: relative;

    &.bg-gray{
        background-color: $color-gray-1;

        .card{
            background-color: $color-white;
        }
    }
}

.input-top{
    margin-bottom:32px;
}

#addPpl{
    .modal-dialog{
        max-width: 400px;
    }
    
    .list-ppl{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        li{
            padding-bottom: 0;
        }

        .item{
            display: flex; 
            align-items: center;
            gap: 12px;
            width: 100%;
        }

        .ico{
            width: 40px;
            height: 40px;
        }
    
        .name {
            position: relative;
            left: unset;
            margin-top: 0;
            margin-right: auto;
            font-size: 18px;
            font-weight: 500;
            transform: none;
        }


    }
}

.data{
    &-list{
        .item{ 
            &:not(:last-child){
                margin-bottom: 24px;
            }
    
           .link{   
                display: block;
                position: relative;
                border-radius: $border-radius-base;
                color: $color-white;
                overflow: hidden;
    
                &::before{
                    content:'';
                    display: block;
                    padding-top:116.42%;
                }
    
                & > *, .cover img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
    
                .cover img{
                    object-fit: cover;
                }
    
                .txt{
                    padding: 30px;
                    z-index: 1;
                }
    
                .tit{
                    font-size: 24px;
                    font-weight: 600;
                    line-height: $item-line-height-title;
                }
    
                .badge{
                    margin-bottom: 12px;
                }
    
                .btn-text{
                    margin-top: 16px;
                    color: $color-white;
                }
           }
        }
    }

    &-wrp{
        margin-bottom: 40px;
        padding: 40px var(--container-padding);

        .graph{
            position: relative;
            width: 100%;
            margin-top: 40px;
            text-align: center;
        }
    }

    &-visual{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        // min-height: 394px;
        margin-bottom: rem(40px);
        padding: rem(50px) 0 0 rem(50px);
        border-radius: 16px;

        .nav-pills{
            background-color: transparent;

            .nav-link{
                background-color: transparent;
                border-color: rgba(255, 255, 255, .25);
                color: $color-white;

                &.active, &.on, &:active, &:not(:disabled):not(.disabled):active{
                    background-color: $color-white;
                    color: $color-body;
                }
            }
        }
        
        select{
            width: 100%;
            max-width: 305px;
            height: 52px;
            font-size: 12px;
        }

        .txt-area{
            width: 240px;
            margin-bottom: rem(80px);

            & > * + *{
                margin-top: 10px;
            }

            .tit{
                margin-bottom: rem(30px);
                font-size: rem(36px);

                span{
                    font-weight: 300;
                }
            }

            .txt{
                font-weight: 400;
                font-size: 14px;
            }

            .btn{
                width: 100%;
                height: 38px;
                padding: 10px;
                font-size: 14px;
                font-weight: 400;
            }
        }

        .obj{
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            width: 200%;
            height: 100%;
            margin: 0 !important;
    
            & > [class^=obj]{
                display: inline-block;
                position: absolute;
                top:0;
                --circle-size: 224px;
                width: var(--circle-size);
                height: var(--circle-size);
                border-radius: 50%;
                background-color: #0970E6;
                border: 1px solid #0970E6;
            }
    
            .obj1{
                top: -11%;
                right: -1%;
                --circle-size: 156px;
                border: 1px solid #0975EF;
                background-color: transparent;
            }
    
            .obj2{
                top: 15.5%;
                right: 5%;
                --circle-size: 40px;
            }
    
            .obj3{
                top: -8%;
                right: 34%;
                --circle-size: 236px;
            }

            .obj4{
                top: -12%;
                right: 31%;
                --circle-size: 140px;
                border: 1px solid #0975EF;
                background-color: transparent;
            }

            .obj5{    
                top: 82%;
                right: 40%;
                --circle-size: 224px;
            }
    
            & ~ *{
                z-index: 1;
            }
            
            @include media-max(xl){
                display: none !important;
            }
        }

        .hover-img{
            position: absolute;
            right: 10px;
            bottom: 115px;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }
        .hover-img2{
            position: absolute;
            top: 33%;
            left: 23%;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }
        .hover-img3{
            position: absolute;
            right: 19.4%;
            top: 33%;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        .hover-img4{
            position: absolute;
            right: 26.99%;
            top: 46%;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }

        .util-wrp{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: rem(40px);
            padding: 40px 40px 0 0;
            z-index: 99 !important;

            .tab{
                margin-bottom: 0;
            }

            select{
                margin-left: auto;
            }
        }

        @include media-max(xl){
            select{
                max-width: 240px;
            }
        }
    }
}

.details-wrp{
    overflow: visible;

    .data-visual{
        padding: 0;
        border-radius: 0 16px 16px 0;
    
        &:before{
            content: "";
            position: absolute;
            top: 0;
            right: calc( 100% - 1px );
            width: 100%;
            height: 100%;
        }

        & > *{
            z-index: 1;
        }

        .obj1{
            top: -21%;
            right: 8%;
            width: 200px;
            height: 200px;
            border: 1px solid #0975EF;
            background-color: transparent;
        }

        .obj2{
            top: 6%;
            right: 15.5%;
            width: 52px;
            height: 52px;
        }

        .obj3{
            top: -4%;
            right: 53%;
            width: 300px;
            height: 300px;
        }

        .obj4{
            top: 36%;
            right: 56%;
            width: 176px;
            height: 176px;
            border: 1px solid #0975EF;
            background-color: transparent;
        }
    }
}

.bx-container{
    margin-bottom: rem(30px);
    padding: rem(30px) rem(50px);
    border-radius: $border-radius-base;
    background-color: $color-primary;

    * + .input-area{
        margin-top: 10px;
    }

    .search-wrp{
        max-width: 100%;
    }
    
    @include media-max(xl){
        padding: 20px 24px;
    }
}

.btn-set .option-wrp{
    margin-right: 42px;
    
    @include media-max(xl){
        margin-right: 30px;
    }
}

.calendar{
    &-wrp{
        display: flex;
        max-height: 100%;
        flex-direction: column;
    }
    
    &-header{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 20px;
        margin-bottom: 10px;

        .tit{
            font-size: 14px;
            font-weight: 700;
        }

        [class^=btn-calendar]{
            position: absolute;
            top:50%;
            left: 0;
            width: 20px;
            height: 20px;
            transform: translateY(-50%);
            background-image: url(../images/icon/icon_calendar_arr.svg);
        }

        .btn-calendar-next{
            right: 0;
            left: auto;
            transform: scale(-1, 1) translateY(-50%);
        }
    }

    &-body{
        text-align: center;

        .days, 
        .dates{
            display: flex;
            align-items: center;

            & > *:nth-child(7n + 1){
                color: $color-dark-pink;
            }
        }

        .day, .date{
            flex-basis: calc( 100% / 7);
            width: 48px;
            height: 48px;
            line-height: 48px;
        }

        .dates{
            flex-wrap: wrap;

            .date{
                border-radius: $border-radius-base;

                a{
                    display: block;
                    height: 100%;
                    text-align: center;
    
                    span{
                        position: relative;
    
                        &:after{
                            content:'';
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            width: 4px;
                            height: 4px;
                            transform: translateX(-50%);
                            border-radius: 50%;
                            background-color: transparent;
                        }
                    }
                }

                &.on{
                    span:after{
                        background-color: $color-gray-6;
                    }
                }

                &.today.on, &.today ~ .date.on{
                    span:after{
                        background-color: $color-dark-pink;
                    }
                }

                &.active{
                    pointer-events: none;
                    background-color: $color-primary;
                    color: $color-white;

                    &.on{
                        span:after{
                            background-color: $color-white !important;
                        }
                    }
                }

                &.disable{
                    color: $color-gray-4 !important;
                    pointer-events: none;
                    
                    span:after{
                        background-color: transparent !important;
                    }
                }
            }

            &.disable{
                color: $color-gray-4;
            }
        }
    }

    &-details{
        margin-top: 25px;

        .card{
            margin-top: -16px;
            margin-left: 80px;
            background-color: $color-gray-2;

            & + .card{
                margin-top: 7px;
            }

            .dot{
                position: absolute;
                top: 22px;
                right: 20px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $color-gray-3;
            }
        }

        .details-item{
            & + .details-item{
                margin-top: 8px;
            }

            .card-header{
                margin: 0;
                font-size: 12px;
                font-weight: 600;
                color: $color-gray-4;
                line-height: $item-line-height-title;
            
                .cate:after{
                    background-color: $color-gray-3;
                }
            }

            &.now{
                .card-header{
                    color: $color-gray-7;
                    
                    .cate:after{
                        background-color: $color-gray-7;
                    }
                }
            }
        }
    }

    @include media-max(xl){
        &-body {
            .date, .day{
                height: 44px;
                line-height: 44px;
            }
        }

        &-details {
            margin-top: 14px;

            .card{
                margin-left: 70px;
                padding: 18px 20px;
            }
        }
    }
}

.form-mail{
    padding: 0 82px;

    .form-block{
        border-top: 0;
    }

    .top{
        padding-bottom: 30px;
        border-bottom: 1px solid $color-gray-3;

        .info{
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 700;
        }

        .tit{
            font-size: 24px;
            font-weight: 800;
            color: $color-body;
        }
    }
        
    .mail-info{ 
        margin-top: 20px;
        font-size: 12px;
        font-weight: 500;

        li{
            display: flex;
            align-items: flex-start;
            color: $color-black;

            span {
                flex: 0 0 62px;
            }

            p{
                flex: 1;
            }

            & + li{
                margin-top: 6px;
            }
        }
    }

    .mail-contents{
        padding: 35px 0;

        .input-bx{
            font-size: 16px;
            color: $color-gray;
        }
    }
}

.page-link{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    height: 0;
    padding: 0;
    border: 0;

    a{
        display: inline-block;
        vertical-align: top;
        width: rem(52);
        height: rem(52);
        line-height: rem(52);
        margin-top: 30px;
        border-radius: $border-radius-base;
        background-color: $color-gray-3;
        background-size: rem(32) auto;
        background-repeat: no-repeat;
        background-position: center;

        &.prev{
            background-image: url(../images/icon/icon_paging_prev_lg.svg)
        }

        &.next{
            background-image: url(../images/icon/icon_paging_next_lg.svg)
        }
    }
}

.form-contact{
    .card{
        flex-basis: calc((100% - 40px) / 3);
        margin: 0;
        padding: 20px;
        border: 1px solid $color-gray-3;

        &-list{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .name{
            margin-top: auto;
        }
    }

    @include media-max(xl){
        .card{
            flex-basis: calc((100% - 12px) / 2);

            &-list{
                gap: 12px;
            }
        }
    }
}

.news-wrp{
    .sub-title{
        padding-bottom: 10px;
        border-bottom: 1px solid $color-gray-3;
    }

    .tab{
        margin-top: 30px;
    }

    .news-swiper{
        position: relative;
        padding: 0 60px;

        .item{
            display: inline-block;
            padding: rem(30px);
            border-radius: $border-radius-base;
            border: 1px solid transparent;
            background-color: $color-white;

            &:hover{
                border-color: $color-primary;
                color: $color-primary;
            }

            .date{
                display: block;
                font-size: 12px;
                font-weight: 600;
                margin-bottom: rem(20px);
            }

            .tit{
                @include text-clamp(3, 1.25);
            }
        }
    }

    .data-visual{
        overflow: hidden;
    }
}